{% extends "base.html" %} {% block content %}
<!-- Jumbotron -->
<div class="jumbotron text-center mdb-color lighten-2 white-text mx-2 mb-5">
  <!-- Title -->
  <h2 class="card-title h2">Direction de la Police Nationale</h2>

  <!-- Subtitle -->
  <p class="my-4 h6">
    Plateforme de gestion du fonds social de la Sécurité et de la Protection
    Civile
  </p>

  <!-- Grid row -->
  <div class="row d-flex justify-content-center">
    <!-- Grid column -->
    <div class="col-xl-7 pb-2">
      <p class="card-text">
        Le Fonds social de la Sécurité et de la Protection Civile porte dans son
        ADN une exigence et une ambition forte, celui d’être plus qu’une
        assurance mais un accompagnateur de vie. C’est dans ce cadre que en tant
        qu’institution chargée de la mise en œuvre de la politique du
        département en charge des protections sociales à initier le projet de
        Mise à disposition et de la Gestion centralisé des Cartes de Santé pour
        la prise en charge médical des agents de Police. Cette plateforme va
        permettre à la Direction d’avoir un monitorique directe sur tous les
        acteurs intervenant dans le processus de gestion de ces Cartes de Santé.
      </p>
    </div>
    <!-- Grid column -->
  </div>
  <!-- Grid row -->

  <hr class="my-4 rgba-white-light" />

  <div class="pt-2">
    <p>Vous n'etes pas connecter</p>
    <a class="btn btn-outline-primary" href="{% url 'login' %}"
      >Connecter ici</a
    >
    <!--<button type="button" class="btn btn-outline-white">
      Download <i class="fas fa-download ml-1"></i>
    </button>-->
  </div>
</div>
<!-- Jumbotron -->
{% endblock %}
